*4{
	border: 1px solid red !important;
}
body{
	margin: 0;
	max-width: 100vw;
	background: url("../images/Bar.jpg") no-repeat center center fixed;
 	-webkit-background-size: 100vw 100vh;
  	-moz-background-size: 100vw 100vh;
  	-o-background-size: 100vw 100vh;
  	background-size: 100vw 100vh;
	background-color: #49412c;
	overflow: hidden;
}
header{
	background-color: #262216;
	height: 9vh;
	text-align: center;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
header h1{
	display: inline-block;
	color: #b0a18e;
	font-family: 'Dancing Script', cursive;
	margin: 0 auto;
	padding-top: 1vh;
	font-size: 6vh;
}
span{
	font-family: 'Dancing Script', cursive;
}
label, input, button{
	font-size: 4vh;
}
button{
	border-radius: 10%;
	color: #262216;
}
.material-icons{
	font-size: 6vh;
	color: #49412c;
	margin: 1vh 2vw;
	padding-top: .5vh;
	transition: all 100ms linear;
}

.material-icons:hover{
	background: -webkit-radial-gradient(#97743a, #49412c);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.material-icons:active{
	-ms-transform: scale(0.9,0.9); /* IE 9 */
    -webkit-transform: scale(0.9,0.9); /* Safari */
    transform: scale(0.9,0.9);
}
.main{
	display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    max-height: 95vh;
    width:300vw;
    position: relative;
   	opacity: 1;
   	-webkit-transition: all ease 1000ms;
   	transition: all ease 800ms;
}
.searchView{
	display: inline-block;
	height: 94vh;
	width: 100vw;
	opacity: 0;
	-webkit-transition: all ease 1000ms;
   	transition: all ease 1000ms;
}
.searchBar{
	position: relative;
	right: 0;
	top: 5vh;
	height: 70vh;
	width: 100vw;s
	margin: 5vh 0;
	background: rgba(255, 255, 255, 0);
	-webkit-transition: all ease 2000ms;
   	transition: all ease 2000ms;
}
.searchBarText{
	text-align: center;
	color: #262216;
	opacity: 1;

}
.searchBarText h2{
	font-size: 8vh;
	margin-bottom: 2vh;
}
.searchBarText p{
	font-size: 4vh;
	margin-top:2vh;
}
.searchBarText form{
	font-size: 5vh;
}
.map{
	opacity: 1;
	-webkit-transition: all ease 1000ms;
   	transition: all ease 1000ms;
}
#googleMap{
	display: inline-block;
	height: 94vh;
	width: 100vw;
}
.list{
	display: inline-block;
	height: 94vh;
	width: 100vw;
	opacity: 1;
	overflow: scroll;
	-webkit-transition: all ease 1000ms;
   	transition: all ease 1000ms;
}
.left{
	right: 0;
}
.center{
	right:100%;
}
.right{
	right: 200%;
}
.appear{
	opacity: 1;
}
.disappear{
	opacity: 0;
}
.delayed{
	background-color: rgba(255, 255, 255, 0.8);
}
.info{
	display: flex;
	margin:0;
}
.infoPic{
	margin-right: 1%;
}
.infoData{
}
@media screen and (max-width: 514px) {
	body{
		background-image: none;

	}
    .material-icons{
		margin: 1vh .5vw;
	}
	.left{
		right: 0;
	}
	.center{
		right: 0;
	}
	.right{
		right: 0;
	}
	.appear{
		display: inline-block;
	}
	.disappear{
		display: none;
	}
}


/*#262216
#49412c
#97743a
#b0a18e*/